body {
  padding: 10px;
  font-family: sans-serif;
}

.mainCard {
  height: 80vh;
}

.secondaryCard{
  height: 15vh;
}

.profile {
  height: 25vh;
}

.listChat{
  height: 80vh;
}

.btnExit{
  margin-top: 10vh;
}
